{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>This is the base page</title>
        <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    </head>
    <body>
        <section>
            <nav >
                <ul>
                    <li class="li"><p class="font-serif">Kerizon</p></li>
                    <li class="li m-r">
                        <form method=POST action="{% url 'items:search_value' %}">
                            {% csrf_token %}

                            <input name="query" type="search" placeholder="Search Products" >
                            <button class="pd-bg-br-btn" type="submit">Search</button>
                        </form>
                    </li>
                    <li class="li font-serif"><a href="{% url 'items:new' %}">New item</a></li>
                    <li class="li font-serif"><a href="#">Cart</a></li>
                </ul>
            </nav>

            <div class="fp-grid pd">
                <div class="dash-bg dash-pd-left">
                    <ul>
                        <li class="font-serif"><a href='#'><p><strong>.</strong>Supermarket</p></a></li>
                        <li class="font-serif"><p><a href='#'><strong>.</strong>Groceries</p></a></li>
                        <li class="font-serif"><p><a href='#'><strong>.</strong>Beverages</p></a></li>
                    </ul>
                </div>
                <div class="dash-bg dash-pd-right fp-item2"></div>
            </div>
        
            <div class=col-grid>
                <a href="{% url 'dashboard:book_view' %}">
                <img src="{{Book.image.url}}">
                </a>
                <img src="{{Phone.image.url}}">
                <img src="{{Toy.image.url}}">
            </div>
            <div class="col-grid ct">
                <p>{{Book.name}}</p>
                <p>{{Phone.name}}</p>
                <p>{{Toy.name}}</p>
            </div>
        </section>
        
        <footer class="footer">
            <p>The footer</p>
        </footer>
    </body>
</html>

